{erl_opts, [debug_info]}.
{deps, [
	{cowboy, "2.14.2"},
	{recompile, {git, "https://github.com/bullno1/recompile.git"}}
]}.

{pre_hooks, [
	{"(linux|darwin)", compile, "scripts/native-build"}
]}.
{post_hooks, [
	{"(linux|darwin)", clean, "scripts/native-clean"}
]}.

{alias, [
	{check, [
		dialyzer,
		{eunit, "--application=slopnetd"}
	]}
]}.

{shell, [
	{apps, [recompile, slopnetd]},
	{config, "sys.config"}
]}.
