{erl_opts, [debug_info]}.
{deps, [
	{cowboy, "2.14.2"},
	{recompile, {git, "https://github.com/bullno1/recompile.git"}},
	{redbug, "2.1.0"},
	{erlydtl, "0.14.0"},
	{quicer, "0.2.15"},
	{logger_color_formatter,
	 {git, "https://github.com/rlipscombe/logger_color_formatter.git", {tag, "0.5.0"}}}
]}.

{pre_hooks, [
	{"(linux|darwin)", compile, "scripts/native-build"}
]}.
{post_hooks, [
	{"(linux|darwin)", clean, "scripts/native-clean"}
]}.
{provider_hooks, [
    {pre, [{compile, {erlydtl, compile}}]}
]}.

{overrides, [
	{override, cowboy, [
		{erl_opts, [debug_info, {d, 'COWBOY_QUICER'}]}
	]}
]}.

{alias, [
	{check, [
		dialyzer,
		{eunit, "--application=slopnetd"}
	]}
]}.

{dialyzer, [
	{plt_extra_apps, [ranch]}
]}.

{plugins, [
    {rebar3_erlydtl_plugin, "0.1.1"}
]}.

{erlydtl_opts, [
	{doc_root, "src"}
]}.

{shell, [
	{apps, [recompile, slopnetd]},
	{config, "sys.config"}
]}.
